USE_MOCK = NO
USE_ACCSESSABILITY = YES
BASE_URL = https:/$()/api.o.prospera.ag/api/3
SMARTLOOK_API_KEY = d84bafc1b0fc78bd29fb7c8cbe9988177a313652
LOKALISE_PROJECT_ID = 2049114260fe6162d4e539.66021118
LOKALISE_TOKEN = d6535b014f86d829a60f4f448b5266f804e1043a
FEATURE_FLAG_MOBILE_SDK_KEY = mob-916d9a40-c4a6-465b-a7d5-d0e30507df66
SCHEME = https
HOSTS = growers.o.prospera.ag,m.valleyinsights.prospera.ag,m.vi.prospera.ag,valleyinsights.prospera.ag,vi.prospera.ag,l.vi.prospera.ag,links.vi.prospera.ag
SHARE_HOST = m.vi.prospera.ag
SUBSCRIPTION_URL = https:/$()/field-management.o.prospera.ag
ACCOUNT_URL = https:/$()/onboarding.valleyirrigation.com/
IS_APP_ICON = AppIcon-prod
PRODUCT_BUNDLE_IDENTIFIER = ag.prospera.vi
DATA_DOG_CLIENT_TOKEN = pub9ad3a3221ff299adcf98cd9e4d7febc9
ENABLE_DATADOG = YES
DATADOG_SERVICE = openfield-ios
APP_DOMAIN = vi.prospera.ag
