<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781762815689-707r6memv7lvasvddfpqp8npvkqjbern.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781762815689-707r6memv7lvasvddfpqp8npvkqjbern</string>
	<key>API_KEY</key>
	<string>AIzaSyB0a48W9nAMHeZqe0pvxqCkgclQNwbgJRk</string>
	<key>GCM_SENDER_ID</key>
	<string>781762815689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ag.prospera.vi</string>
	<key>PROJECT_ID</key>
	<string>openfield-clients</string>
	<key>STORAGE_BUCKET</key>
	<string>openfield-clients.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781762815689:ios:b898ffeca766e600afcf18</string>
	<key>DATABASE_URL</key>
	<string>https://openfield-clients.firebaseio.com</string>
</dict>
</plist>