<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCOUNT_URL</key>
	<string>${ACCOUNT_URL}</string>
	<key>APP_DOMAIN</key>
	<string>$(APP_DOMAIN)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Insights</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ag.prospera.vi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>valleyinsights</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CURRENT_SCHEME_NAME</key>
	<string>$(CURRENT_SCHEME_NAME)</string>
	<key>DATADOG_SERVICE</key>
	<string>$(DATADOG_SERVICE)</string>
	<key>DATA_DOG_CLIENT_TOKEN</key>
	<string>$(DATA_DOG_CLIENT_TOKEN)</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>HOSTS</key>
	<string>$(HOSTS)</string>
	<key>LOKALISE_PROJECT_ID</key>
	<string>$(LOKALISE_PROJECT_ID)</string>
	<key>LOKALISE_TOKEN</key>
	<string>$(LOKALISE_TOKEN)</string>
	<key>FEATURE_FLAG_MOBILE_SDK_KEY</key>
	<string>$(FEATURE_FLAG_MOBILE_SDK_KEY)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SCHEME</key>
	<string>$(SCHEME)</string>
	<key>SHARE_HOST</key>
	<string>${SHARE_HOST}</string>
	<key>SMARTLOOK_API_KEY</key>
	<string>$(SMARTLOOK_API_KEY)</string>
	<key>SUBSCRIPTION_URL</key>
	<string>${SUBSCRIPTION_URL}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Denim-Bold.otf</string>
		<string>Denim-Medium.otf</string>
		<string>Denim-Semi-Bold.otf</string>
		<string>Denim.otf</string>
		<string>Averta-Semibold.ttf</string>
		<string>Averta-Bold.ttf</string>
		<string>Averta-Regular.ttf</string>
		<string>Averta-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>USE_ACCSESSABILITY</key>
	<string>$(USE_ACCSESSABILITY)</string>
	<key>USE_MOCK</key>
	<string>$(USE_MOCK)</string>
</dict>
</plist>
