<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118717335364-7kd8l9r4bfftkgmnl77phgscg4uojgc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118717335364-7kd8l9r4bfftkgmnl77phgscg4uojgc8</string>
	<key>API_KEY</key>
	<string>AIzaSyCVjdNhcN38G-26SaV2PB8mOaPpaNaaKzo</string>
	<key>GCM_SENDER_ID</key>
	<string>118717335364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ag.prospera.vi-qa</string>
	<key>PROJECT_ID</key>
	<string>openfield-clients-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>openfield-clients-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118717335364:ios:51df198774e50f0be3b911</string>
	<key>DATABASE_URL</key>
	<string>https://openfield-clients-qa.firebaseio.com</string>
</dict>
</plist>