<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844436255217-f4tffe48j4g7222r0paa0onvfvhltde9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844436255217-f4tffe48j4g7222r0paa0onvfvhltde9</string>
	<key>API_KEY</key>
	<string>AIzaSyAxNk1SWK87tjcccS1l9mFl5uHKBFVK7Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>844436255217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ag.prospera.vi-staging</string>
	<key>PROJECT_ID</key>
	<string>openfield-clients-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>openfield-clients-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844436255217:ios:ed591722c31c4b720c5450</string>
</dict>
</plist>